# Import

In [78]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

# Engine SQL

In [79]:
engine = create_engine('mysql+pymysql://root@localhost/project-week-6')

# Average GDP Per Capita

In [80]:
data = pd.read_csv('../data/average-real-gdp-per-capita-across-countries-and-regions.csv')

In [81]:
data = data.rename(columns={'GDP per capita (int.-$) ($)': 'GDP'})

In [82]:
data.to_sql('average_gdp_per_capita', engine, if_exists='replace', index=False)

# Landlocked Countries

In [83]:
landlocked = pd.read_csv('../data/landlocked_countries 2020.csv')

landlocked = landlocked.rename(columns={'country': 'Country'})

landlocked['Landlocked'] = '1'

landlocked["Landlocked"] = landlocked["Landlocked"].astype(str).astype(int)

In [84]:
year2016_data_countries = pd.read_csv('../data/average-real-gdp-per-capita-across-countries-and-regions.csv')

year2016_data_countries = year2016_data_countries.loc[data['Year'] == 2016]

year2016_data_countries = year2016_data_countries.dropna()

year2016_data_countries = year2016_data_countries.drop(18000)

year2016_data_countries = year2016_data_countries.rename(columns={'GDP per capita (int.-$) ($)': 'GDP', 'Entity': 'Country'})

In [85]:
data = pd.merge(year2016_data_countries, landlocked, on='Country', how='left')

data['Landlocked'] = data['Landlocked'].fillna(0)

data = data.drop(['pop2020', 'Year'], axis=1)

In [86]:
data.to_sql('landlocked_countries', engine, if_exists='replace', index=False)

# Natural resources rents

In [87]:
natural_resource = pd.read_csv('../data/natural-resource-rents.csv')

natural_resource = natural_resource.rename(columns={'Total natural resources rents (% of GDP) (% of GDP)': 'Natural resources of GDP'})

natural_resource = natural_resource.loc[natural_resource['Year'] == 2016]

natural_resource

               Entity      Code  Year  Natural resources of GDP
27        Afghanistan       AFG  2016                  0.598008
60            Albania       ALB  2016                  1.973313
107           Algeria       DZA  2016                 13.631655
122    American Samoa       ASM  2016                  0.000000
169           Andorra       AND  2016                  0.000000
...               ...       ...   ...                       ...
10080         Vietnam       VNM  2016                  2.301114
10127           World  OWID_WRL  2016                  1.894270
10154           Yemen       YEM  2016                  0.982571
10201          Zambia       ZMB  2016                 15.133440
10248        Zimbabwe       ZWE  2016                  8.754979

[237 rows x 4 columns]

In [88]:
gdp = pd.read_csv('../data/average-real-gdp-per-capita-across-countries-and-regions.csv')

gdp = gdp.rename(columns={'GDP per capita (int.-$) ($)': 'GDP'})

gdp = gdp.loc[gdp['Year'] == 2016]

gdp

                  Entity      Code  Year    GDP
66           Afghanistan       AFG  2016   1929
133               Africa       NaN  2016   4680
206              Albania       ALB  2016  11285
253              Algeria       DZA  2016  13328
295               Angola       AGO  2016   8397
...                  ...       ...   ...    ...
17929  Western Offshoots       NaN  2016  51342
18000              World  OWID_WRL  2016  14574
18067              Yemen       YEM  2016   2199
18134             Zambia       ZMB  2016   3538
18201           Zimbabwe       ZWE  2016   1729

[174 rows x 4 columns]

In [89]:
data = pd.merge(gdp, natural_resource, on='Entity', how='left')

data = data.dropna()

data = data.drop(170)

data = data.drop(['Code_y', 'Year_y'], axis=1)

data = data.rename(columns={'Entity': 'Country', 'Code_x': 'Code', 'Year_x': 'Year'})

In [90]:
data.to_sql('natural_resources_gdp', engine, if_exists='replace', index=False)

# UK GDP

In [91]:
data = pd.read_csv('../data/GDP-per-capita-in-the-uk-since-1270.csv')

In [92]:
data = data.rename(columns={'Real GDP per capita  (£)': 'GDP'})

In [93]:
data.to_sql('uk_gdp', engine, if_exists='replace', index=False)

# World GDP

In [94]:
data = pd.read_csv('../data/world-gdp-over-the-last-two-millennia.csv')

In [95]:
data = data.rename(columns={' (int.-$)': 'GDP'})

In [96]:
data.to_sql('world_gdp', engine, if_exists='replace', index=False)