# Import

In [27]:
import pandas as pd

import pymysql
from sqlalchemy import create_engine

# Engine SQL

In [28]:
engine = create_engine('mysql+pymysql://root@localhost/project-week-6')

# Average GDP Per Capita

In [29]:
data = pd.read_csv('../data/average-real-gdp-per-capita-across-countries-and-regions.csv')

In [30]:
data = data.rename(columns={'GDP per capita (int.-$) ($)': 'GDP'})

data

            Entity Code  Year   GDP
0      Afghanistan  AFG  1950  2392
1      Afghanistan  AFG  1951  2422
2      Afghanistan  AFG  1952  2462
3      Afghanistan  AFG  1953  2568
4      Afghanistan  AFG  1954  2576
...            ...  ...   ...   ...
18197     Zimbabwe  ZWE  2012  1623
18198     Zimbabwe  ZWE  2013  1801
18199     Zimbabwe  ZWE  2014  1797
18200     Zimbabwe  ZWE  2015  1759
18201     Zimbabwe  ZWE  2016  1729

[18202 rows x 4 columns]

In [31]:
data.to_sql('average_gdp_per_capita', engine, if_exists='replace', index=False)

# Gross Domestic Product

In [32]:
data = pd.read_csv('../data/gross-domestic-product.csv')

In [33]:
data = data.rename(columns={'GDP (constant 2010 US$) (constant 2010 US$)': 'GDP Total'})

data = data.dropna()

data

            Entity Code  Year     GDP Total
0      Afghanistan  AFG  2002  8.013233e+09
1      Afghanistan  AFG  2003  8.689884e+09
2      Afghanistan  AFG  2004  8.781610e+09
3      Afghanistan  AFG  2005  9.762979e+09
4      Afghanistan  AFG  2006  1.030523e+10
...            ...  ...   ...           ...
11251     Zimbabwe  ZWE  2013  1.418193e+10
11252     Zimbabwe  ZWE  2014  1.448359e+10
11253     Zimbabwe  ZWE  2015  1.472830e+10
11254     Zimbabwe  ZWE  2016  1.481899e+10
11255     Zimbabwe  ZWE  2017  1.532981e+10

[8959 rows x 4 columns]

In [34]:
data.to_sql('gross_domestic_product', engine, if_exists='replace', index=False)

# Landlocked Countries

In [35]:
landlocked = pd.read_csv('../data/landlocked_countries 2020.csv')

landlocked = landlocked.rename(columns={'country': 'Country'})

landlocked['Landlocked'] = '1'

landlocked["Landlocked"] = landlocked["Landlocked"].astype(str).astype(int)

landlocked

                     Country     pop2020  Landlocked
0                   Ethiopia  114963.588           1
1                     Uganda   45741.007           1
2                Afghanistan   38928.346           1
3                 Uzbekistan   33469.203           1
4                      Nepal   29136.808           1
5                      Niger   24206.644           1
6               Burkina Faso   20903.273           1
7                       Mali   20250.833           1
8                     Malawi   19129.952           1
9                 Kazakhstan   18776.707           1
10                    Zambia   18383.955           1
11                      Chad   16425.864           1
12                  Zimbabwe   14862.924           1
13                    Rwanda   12952.218           1
14                   Burundi   11890.784           1
15                   Bolivia   11673.021           1
16               South Sudan   11193.725           1
17            Czech Republic   10708.981           1
18                Azerbaijan   10139.177           1
19                   Hungary    9660.351           1
20                Tajikistan    9537.645           1
21                   Belarus    9449.323           1
22                   Austria    9006.398           1
23                    Serbia    8737.371           1
24               Switzerland    8654.622           1
25                      Laos    7275.560           1
26                  Paraguay    7132.538           1
27                Kyrgyzstan    6524.195           1
28              Turkmenistan    6031.200           1
29                  Slovakia    5459.642           1
30  Central African Republic    4829.767           1
31                   Moldova    4033.963           1
32                  Mongolia    3278.290           1
33                   Armenia    2963.243           1
34                  Botswana    2351.627           1
35                   Lesotho    2142.249           1
36                 Macedonia    2083.374           1
37                 Swaziland    1160.164           1
38                    Bhutan     771.608           1
39                Luxembourg     625.978           1
40                   Andorra      77.265           1
41             Liechtenstein      38.128           1
42                San Marino      33.931           1
43              Vatican City       0.801           1

In [36]:
year2016_data_countries = pd.read_csv('../data/average-real-gdp-per-capita-across-countries-and-regions.csv')

year2016_data_countries = year2016_data_countries.loc[year2016_data_countries['Year'] == 2016]

year2016_data_countries = year2016_data_countries.dropna()

year2016_data_countries = year2016_data_countries.drop(18000)

year2016_data_countries = year2016_data_countries.rename(columns={'GDP per capita (int.-$) ($)': 'GDP', 'Entity': 'Country'})

year2016_data_countries

           Country Code  Year    GDP
66     Afghanistan  AFG  2016   1929
206        Albania  ALB  2016  11285
253        Algeria  DZA  2016  13328
295         Angola  AGO  2016   8397
442      Argentina  ARG  2016  18695
...            ...  ...   ...    ...
17498    Venezuela  VEN  2016  13159
17568      Vietnam  VNM  2016   6031
18067        Yemen  YEM  2016   2199
18134       Zambia  ZMB  2016   3538
18201     Zimbabwe  ZWE  2016   1729

[164 rows x 4 columns]

In [37]:
data = pd.merge(year2016_data_countries, landlocked, on='Country', how='left')

data['Landlocked'] = data['Landlocked'].fillna(0)

data = data.drop(['pop2020', 'Year'], axis=1)

data

         Country Code    GDP  Landlocked
0    Afghanistan  AFG   1929         1.0
1        Albania  ALB  11285         0.0
2        Algeria  DZA  13328         0.0
3         Angola  AGO   8397         0.0
4      Argentina  ARG  18695         0.0
..           ...  ...    ...         ...
159    Venezuela  VEN  13159         0.0
160      Vietnam  VNM   6031         0.0
161        Yemen  YEM   2199         0.0
162       Zambia  ZMB   3538         1.0
163     Zimbabwe  ZWE   1729         1.0

[164 rows x 4 columns]

In [38]:
data.to_sql('landlocked_countries', engine, if_exists='replace', index=False)

# Natural resources rents

In [39]:
natural_resource = pd.read_csv('../data/natural-resource-rents.csv')

natural_resource = natural_resource.rename(columns={'Total natural resources rents (% of GDP) (% of GDP)': 'Natural resources of GDP'})

natural_resource = natural_resource.loc[natural_resource['Year'] == 2016]

natural_resource

               Entity      Code  Year  Natural resources of GDP
27        Afghanistan       AFG  2016                  0.598008
60            Albania       ALB  2016                  1.973313
107           Algeria       DZA  2016                 13.631655
122    American Samoa       ASM  2016                  0.000000
169           Andorra       AND  2016                  0.000000
...               ...       ...   ...                       ...
10080         Vietnam       VNM  2016                  2.301114
10127           World  OWID_WRL  2016                  1.894270
10154           Yemen       YEM  2016                  0.982571
10201          Zambia       ZMB  2016                 15.133440
10248        Zimbabwe       ZWE  2016                  8.754979

[237 rows x 4 columns]

In [40]:
gdp = pd.read_csv('../data/average-real-gdp-per-capita-across-countries-and-regions.csv')

gdp = gdp.rename(columns={'GDP per capita (int.-$) ($)': 'GDP'})

gdp = gdp.loc[gdp['Year'] == 2016]

gdp

                  Entity      Code  Year    GDP
66           Afghanistan       AFG  2016   1929
133               Africa       NaN  2016   4680
206              Albania       ALB  2016  11285
253              Algeria       DZA  2016  13328
295               Angola       AGO  2016   8397
...                  ...       ...   ...    ...
17929  Western Offshoots       NaN  2016  51342
18000              World  OWID_WRL  2016  14574
18067              Yemen       YEM  2016   2199
18134             Zambia       ZMB  2016   3538
18201           Zimbabwe       ZWE  2016   1729

[174 rows x 4 columns]

In [41]:
data = pd.merge(gdp, natural_resource, on='Entity', how='left')

data = data.dropna()

data = data.drop(170)

data = data.drop(['Code_y', 'Year_y'], axis=1)

data = data.rename(columns={'Entity': 'Country', 'Code_x': 'Code', 'Year_x': 'Year'})

data

         Country Code  Year    GDP  Natural resources of GDP
0    Afghanistan  AFG  2016   1929                  0.598008
2        Albania  ALB  2016  11285                  1.973313
3        Algeria  DZA  2016  13328                 13.631655
4         Angola  AGO  2016   8397                 13.217494
5      Argentina  ARG  2016  18695                  1.302412
..           ...  ...   ...    ...                       ...
164   Uzbekistan  UZB  2016   9726                 11.436286
166      Vietnam  VNM  2016   6031                  2.301114
171        Yemen  YEM  2016   2199                  0.982571
172       Zambia  ZMB  2016   3538                 15.133440
173     Zimbabwe  ZWE  2016   1729                  8.754979

[158 rows x 5 columns]

In [42]:
data.to_sql('natural_resources_gdp', engine, if_exists='replace', index=False)

# UK GDP

In [43]:
data = pd.read_csv('../data/GDP-per-capita-in-the-uk-since-1270.csv')

In [44]:
data = data.rename(columns={'Real GDP per capita  (£)': 'GDP'})

data

             Entity Code  Year          GDP
0    United Kingdom  GBR  1270    805.91998
1    United Kingdom  GBR  1271    796.29999
2    United Kingdom  GBR  1272    824.89001
3    United Kingdom  GBR  1273    776.84998
4    United Kingdom  GBR  1274    772.75000
..              ...  ...   ...          ...
742  United Kingdom  GBR  2012  27206.47100
743  United Kingdom  GBR  2013  27544.32000
744  United Kingdom  GBR  2014  28256.80100
745  United Kingdom  GBR  2015  28692.97100
746  United Kingdom  GBR  2016  28982.27000

[747 rows x 4 columns]

In [45]:
data.to_sql('uk_gdp', engine, if_exists='replace', index=False)

# World GDP

In [46]:
data = pd.read_csv('../data/world-gdp-over-the-last-two-millennia.csv')

In [47]:
data = data.rename(columns={' (int.-$)': 'GDP'})

data

   Entity      Code  Year           GDP
0   World  OWID_WRL     1  1.827410e+11
1   World  OWID_WRL  1000  2.101447e+11
2   World  OWID_WRL  1500  4.305273e+11
3   World  OWID_WRL  1600  5.744687e+11
4   World  OWID_WRL  1700  6.433229e+11
..    ...       ...   ...           ...
71  World  OWID_WRL  2011  9.498240e+13
72  World  OWID_WRL  2012  9.803230e+13
73  World  OWID_WRL  2013  1.012700e+14
74  World  OWID_WRL  2014  1.047200e+14
75  World  OWID_WRL  2015  1.081200e+14

[76 rows x 4 columns]

In [48]:
data.to_sql('world_gdp', engine, if_exists='replace', index=False)